@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.container {
    display: flex;
}

.columna-1 {
    flex: 1;
    padding: 20px;
}

.columna-2 {
    flex: 1;
    padding: 20px;
    background-color: lightgray;
}

input {
    @apply shadow-lg;
   
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    @apply bg-secondary-text-color;
    color: white;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    @apply shadow-lg;
    font-size: 16px;
  }

  .dashboard-page-section-1{
    @apply shadow-lg;
    width: 20%;
    background-color: #25a621;
    display: flex;
    flex-direction: column;
    
    align-items: center;
  }

  

  .dashboard-page-section-2 {
    /* background: linear-gradient(135deg, #0091d1 25%, white 50%, #25a621 75%); */
    width: 100%;
    background-size: 1300% 100%;
    background-image: linear-gradient(135deg, #0091d1, white, #25a621, white, #0091d1);
    background-clip: content-box;
    -webkit-background-clip: content-box;
    color: black;
    animation: changeBg 8s linear infinite;
    align-content: center;
      
  }
  
  @keyframes changeBg {
    0% {
        background-position: 0% 0%;
    }
  
    100% {
        background-position: 100% 0%;
    }
  }
  .dashboard-user-navigation .active{
    @apply text-main-text-color;
  }

  .dashboard-user-navigation {
    display: flex;
    align-items: center;
    color: white;
    font-family: Yantramanav, sans-serif;
    font-size: auto;
    margin: auto;
    align-content: center;
  }
  .navbar{
    width: 85%;
    height: 20%;
    display: flex;
    background-color: #0091d1;
    @apply shadow-lg;
    
  }

  .dashboard-user-details img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #ccc;
    @apply my-2;
  }

.locations-form{
  width: 60%;  
  max-height: 98vh;
  overflow-y: auto;

  background-color: #0091d1;
  color: black;
  padding: 1%;
  margin: 20px;
  margin-left: 20%;
  align-items: center;
 
}

.locations-form input{
 
  
  background-color: white;
  
}



.locations-list{
  /* background: linear-gradient(135deg, #0091d1 25%, white 50%, #25a621 75%); */
  width: unset;
  height: 100%;
  max-height: 98vh;
  overflow-y: auto;
  background-size: 1300% 100%;
  background-image: linear-gradient(135deg, #0091d1, white, #25a621, white, #0091d1);
  background-clip: content-box;
  -webkit-background-clip: content-box;
  color: transparent;
  animation: changeBg 8s linear infinite;
}

.searcher{
 width: 30%;
 padding: 1%;
 background-color: black;
 color: white;
 margin: 5px;
 align-items: center;
}

@keyframes changeBg {
  0% {
      background-position: 0% 0%;
  }

  100% {
      background-position: 100% 0%;
  }
}


.locations-form textarea{
  min-height:70px;
  color: black;
}

.locations-list .card img{
  width: 100%;
  height:15vh;
  object-fit: cover;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}