@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.container {
    display: flex;
}

.columna-1 {
    flex: 1;
    padding: 20px;
}

.columna-2 {
    flex: 1;
    padding: 20px;
    background-color: lightgray;
}

input {
    @apply shadow-lg;
    @apply bg-secondary-bg-color;
    @apply text-main-text-color;
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: red;
    @apply bg-secondary-text-color;
    color: white;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    @apply shadow-lg;
    font-size: 16px;
  }

  .dashboard-page-section-1{
    width: 20%;
    
    background-color: #25a621;
    @apply shadow-lg;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .dashboard-page-section-2{
    width: 80%;
    background: linear-gradient(135deg,#0091d1 25%, white 50%, #25a621  75%);
    @apply shadow-lg;
  }

  .dashboard-user-navigation .active{
    @apply text-main-text-color;
  }

  .dashboard-user-navigation {
    display: flex;
    align-items: center;
    color: white;
    font-family: Yantramanav, sans-serif;
    font-size: auto;
    margin: auto;
    align-content: center;
  }
  .navbar{
    width: 85%;
    height: 20%;
    display: flex;
    background-color: #0091d1;
    @apply shadow-lg;
    
  }

  .dashboard-user-details img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #ccc;
    @apply my-2;
  }

.locations-form{
  width: 40vw;
  max-height: 98vh;
  overflow-y: auto;
}

.locations-list{
  background: linear-gradient(135deg,#0091d1 25%, white 50%, #25a621  75%);
}

.locations-form textarea{
  min-height:70px;
}

.locations-list .card img{
  width: 100%;
  height:15vh;
  object-fit: cover;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}